html {
  height: 100%;
}

body {
  font-family: Courier New, Courier New, Courier6, monospace;
  margin: 0;
  height: 100%;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

.page {
  height: 100%;
  display: flex;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
}

.container {
  max-width: 600px;
  max-height: 200px;
  margin-bottom: 20px;
}

.container:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  max-height: 200px;
}

a {
  text-decoration: none;
}
a:link {
  color: #333333;
  border-bottom: 1px #666666 dotted;
}
a:visited {
  color: #666666;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px #666666 solid;
}

h1 a:link {
  border-bottom: none;
}

ul {
  margin-top: 0;
  list-style: none;
  padding-left: 10px;
}
input:disabled + label {
  text-decoration: line-through;
}
