html {
  height: 100%;
}

body {
  font-family: Courier New, Courier, Courier6, monospace;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
}

.container {
  max-width: 600px;
  margin-bottom: 20px;
}

.container:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  max-height: 200px;
}

a {
  text-decoration: none;
}
a:link {
  color: #333333;
  border-bottom: 1px #666666 dotted;
}
a:visited {
  color: #666666;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px #666666 solid;
}

h1 a:link {
  border-bottom: none;
}

fieldset {
  border-style: solid;
}
li {
  list-style: none;
}

input {
  font-family: Courier New, Courier, Courier6, monospace;
}

input:disabled + label {
  color: #888;
  text-decoration: line-through;
}
input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #888;
  color: #000;
  font-size: 16px;
}
input[type="text"]:focus {
  border-bottom: 2px solid #000;
}

fieldset fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.radio-fieldset:focus {
  background-color: #444;
}
